<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>My quiz</title>
</head>
<body>

    <h1>{{ question }}</h1>

    <form action="{% url 'answer_page' quiz_number question_number %}" method="post">
        {% csrf_token %}
        <div class="wrapper">
            <input id="answer1" type="radio" name="answer" value="1" checked>
            <label for="answer1">{{ answer1 }}</label>
        </div>

        <div class="wrapper">
            <input id="answer2" type="radio" name="answer" value="2">
            <label for="answer2">{{ answer2 }}</label>
        </div>

        <div class="wrapper">
            <input id="answer3" type="radio" name="answer" value="3">
            <label for="answer3">{{ answer3 }}</label>
        </div>

        <input class="button center" type="submit" value="Next"/>
            <p class="center">{{ question_number }}/ {{ last_question_number }}</p>

    </form>

</body>
</html>