<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>My quizz</title>
</head>
<body>
<button id="dev-toggle">Toggle Dev</button>
    <h1>Question wasn't found</h1>
    <p>{{ question_number }}. {{ question }}</p>
    <p>{{ answer1 }}</p>
    <p>{{ answer2 }}</p>
    <p>{{ answer3 }}</p>

    <form class="hidden">
        <input type="radio">
        <label></label>

        <input type="radio">
        <label></label>

        <input type="radio">
        <label></label>

        <input type="submit" value="Next"/>
    </form>

<script>
        document.getElementById("dev-toggle").addEventListener("click", function () {
            var all_hidden = document.getElementsByClassName("hidden");
            for (var i = 0; i < all_hidden.length; i++){
                all_hidden[i].className = "";
            }
        })
    </script>
</body>
</html>