<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>My quiz</title>
</head>
<body>
<header>
    <a href="{% url 'start_page' %}"><h1>Quizz</h1></a>

    <address>Written by maria.hansson@kundo.se</address>

</header>

<main>

    <h2>{{ question }}</h2>
    <form action="{% url 'answer_page' quiz_number question_number %}" method="post">
        {% csrf_token %}
        <div class="wrapper">
            <input id="answer1" type="radio" name="answer" value="1" checked>
            <label for="answer1">{{ answer1 }}</label>
        </div>

        <div class="wrapper">
            <input id="answer2" type="radio" name="answer" value="2">
            <label for="answer2">{{ answer2 }}</label>
        </div>

        <div class="wrapper">
            <input id="answer3" type="radio" name="answer" value="3">
            <label for="answer3">{{ answer3 }}</label>
        </div>
        <div class="center">

            <input class="button" type="submit" value="Next"/>
            <p>{{ question_number }}/ {{ last_question_number }}</p>

        </div>
    </form>
</main>
<aside>
    <span>{{ quiz_name }}</span>
</aside>
</body>
</html>