<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>My quizz</title>
</head>
<body>
<header>
    <a href="{% url 'start_page' %}"><h1>Quizz</h1></a>

    <address>Written by maria.hansson@kundo.se</address>

</header>
<main>
        <h2>{{ quiz.name }}</h2>
        <p>{{ quiz.description }}</p>
        <div class="center">
            <a class="button" href="{% url 'question_page' quiz_number 1 %}">Start quiz</a>
        </div>
</main>
</body>
</html>