<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>My quizz</title>

</head>
<body>
<header>
    <a href="{% url 'start_page' %}"><h1>Quizz</h1></a>

    <address>Written by maria.hansson@kundo.se</address>

</header>
<main>
    <p>Welcome to this small site with these quizzes feel free to take on them all as you please.</p>

    <ul class="quiz-list">
        {% for quiz in quizzes %}
            <li>

                <a href="{% url 'quiz_page' quiz.quiz_number %}" >
                    <img class="img-placeholder" src="/static/placeholder.jpg" alt="placeholder image"/>
                </a>

                <div class="quiz-core">
                    <a href="{% url 'quiz_page' quiz.quiz_number %}" >
                    <h2>{{ quiz.name }}</h2>
                    <p>{{ quiz.description }}</p>
                    </a>
                    <a class="button" href="{% url 'question_page' quiz.quiz_number 1 %}">Start quiz</a>
                </div>

            </li>
        {% empty %}
            <li>We didn't find the quizzes, check in another time and we might have found them.</li>
        {% endfor %}
    </ul>
</main>
</body>
</html>