
body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    font-size: 14px;
    color: #222;
    margin: 0 auto;
}
header {
    background-color: #fff;
    padding: 1%;
}

main, aside {
    max-width: 700px;
    margin: 0 auto;
}

main {
    margin-top: 3%;
    background-color: #fff;
    padding: 2% 2% 3% 2%;
}

aside {
    text-align: right;
    background-color: #8F9396;
    color: #fff;     
    padding: 1% 2%;
}

aside span {
    display: inline-block;
}

@media screen and (max-width: 750px) {
    main, aside {
        margin-left: 2%;
        margin-right: 2%;
        text-align: left;
    }
    aside span{
        display: block;
    }
}

ul {
    max-width: 600px;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0;
}


ul {

}

li {
    list-style: none;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    border: 1px solid #ddd;
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: #111;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    left:0;
    top:0;
    
}

.quiz-core {
    margin-left: 100px;
    padding: 2%;
    min-height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}

.button {
    cursor: pointer;
    padding: 5px 15px;
    background-color: #222;
    color: #d8d8d8;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.right-floater{
    float: right;
}

.wrapper {                   
    padding: 1em;
}

.center {
    text-align: center;
}

.transparent {
    background-color: transparent;
}